<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cover Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/cover.css" rel="stylesheet">
</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h2 class="masthead-brand">Waiters web-App</h2>
            <nav class="nav nav-masthead">
              <a class="nav-link active" href="/">Home</a>
              <a class="nav-link active" href="/days">Admin</a>
              <!-- <a class="nav-link active" href="/days">Reset</a> -->
            </nav>
          </div>
        </div>

          {{{body}}}
        </div>

      </div>

    </div>

  </div>

  <footer class="footer">
    <p> &copy; Registration Numbers - Webapp: 2017</p>
  </footer>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/css/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <script>
    window.jQuery || document.write('<script src="/css/jquery.min.js"><\/script>')
  </script>

  <script src="/css/popper.min.js"></script>

  <script src="/css/bootstrap.min.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/css/ie10-viewport-bug-workaround.js"></script>
</body>

</html>

<!--

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
  <center>  <h1>Waiters web-App<h1></center>
</head>

  <body>
{{{body}}}
  </body>
</html> -->
